{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1></h1>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{'Moncompte.titre'|trans }} ✅</h1>
    {{form(registrationForm)}}
    {% if paniers is not empty %}
        <table>
            <thead>
                <th>ID Commande</th>
                <th>Montant</th>
            </thead>
            <tbody>
                {% for panier in paniers %}
                    <tr>
                        <td><a href="{{path('panier_edit', {'id': panier.id})}}">{{ panier.id }}</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Not panier found</p>
    {% endif %}

   
</div>
{% endblock %}
