{# <form method="post" action="{{ path('produit_add', {'id': produit.id}) }}">
    <input type="hidden" name="_method" value="ADD">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ produit.id) }}">
    <input type="text" name="qualite" >
    <button class="btn">Add to cart</button>
</form> #}